# fly.toml file generated for fullstack-pokedex on 2022-12-26T19:22:28+02:00

app = "fullstack-pokedex"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[env]

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.http_checks]]

    [http_checks.version]
      interval = 10000
      grace_period = "5s"
      method = "get"
      path = "/version"
      protocol = "http"
      restart_limit = 3
      timeout = 2000
      tls_skip_verify = false

    [http_checks.health]
      interval = 10000
      grace_period = "5s"
      method = "get"
      path = "/health"
      protocol = "http"
      restart_limit = 3
      timeout = 2000
      tls_skip_verify = false

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"

  [deploy]
    release_command = "npm run build"

  [processes]
    app = "node app.js"