name: Periodic health check

on:
  schedule:
    - cron: '*/10 * * * *'

jobs:
  periodic_health_check:
    runs-on: ubuntu-20.04
    steps:
      - name: Check the deployed service URL
        uses: jtalk/url-health-check-action@v3
        with:
          url: https://fullstack-pokedex.fly.dev/
          follow-redirect: false
          max-attempts: 3
          retry-delay: 5s
          retry-all: false